.rf-productlocator-filter-dimension
  input[name="pl_dimensionCapacity"]
  ~ .form-selector-label {
  padding: 15px 12px;
}

.rf-productlocator-filter-dimension
  input[name="pl_dimensionCapacity"]:checked
  ~ .form-selector-label {
  padding: 14px 11px;
}

.rf-bfe-summary-price-box .rf-ac-messages a {
  display: inline-block;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
  .rf-bfe-summary-price-box .as-price-currentprice .as-price-highlight,
  .rf-bfe-summary-price-box .rc-prices-currentprice .as-price-highlight {
    padding-top: 0;
  }
}

.rf-po-bfe-financingoption-description
  + .rf-po-bfe-financingoption-subsectionheader {
  padding-top: 10px;
}

.rf-bfe-summary .as-price-currentprice .as-price-savingspromotion-block {
  display: none;
}

.jp .rf-bfe-summary-price-box .rf-bfe-summary-financing-message {
  display: none;
}

.rf-bfe-summary-wrapper .rf-bfe-summary-carrierfinancedisclaimer,
.rf-bfe-summary-fulfillment-fullWidth .rf-bfe-summary-carrierfinancedisclaimer {
  text-align: center;
  padding: 0 30px;
  margin-top: 10px;
}

.rf-po-bfe-purchaseoptionsedit-option-container {
  overflow: visible;
}

.rf-notifyme-overlay .rf-notifyme-overlay-wrapper {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
}

.rf-notifyme-overlay .rf-notifyme-subheader {
  margin: 14px 55px;
}

.rf-notifyme-overlay .rf-notifyme-form {
  padding: 65px 88px 48px;
  text-align: start;
}

.rf-notifyme-overlay .rf-notifyme-disclaimer {
  text-align: center;
  padding: 0 88px;
}

.rf-notifyme-overlay .rf-notifyme-formbutton {
  margin-top: 30px;
  margin-inline: 0;
  margin-bottom: 0;
  padding: 11px;
}

.rf-notifyme-overlay .rf-notifyme-success-image .icon-checksolid::after {
  padding: 0;
}

.rf-notifyme-overlay .rf-notifyme-success-description {
  margin-top: 30px;
  margin-inline: 70px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.rf-notifyme-overlay .rs-notifyme-success-button {
  max-width: 496px;
  margin-top: 80px;
  margin-inline: auto;
  margin-bottom: 0;
  padding: 11px;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
  .rf-notifyme-overlay .rf-notifyme-subheader {
    margin: 14px 0;
    text-align: center;
  }

  .rf-notifyme-overlay .rf-notifyme-form {
    padding: 65px 0 48px;
    text-align: start;
  }

  .rf-notifyme-overlay .rf-notifyme-disclaimer {
    text-align: center;
    padding: 0;
  }

  .rf-notifyme-overlay .rf-notifyme-success-description {
    margin-top: 30px;
    margin-inline: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  .rf-notifyme-overlay .rs-notifyme-success-button {
    width: 100%;
    margin-top: 80px;
    margin-inline: 0;
    margin-bottom: 0;
    padding: 11px;
  }

  .rf-bfe-header {
    max-width: none;
  }
}

.rf-bfe-header .violator-frameless + h1 {
  max-width: none;
}

.jp
  .rf-bfe-header-price
  .rc-prices-currentprice
  .rc-prices-fullprice
  .as-price-highlight {
  display: inline-block;
}

.rf-po-bfe-financingoptions-tabs-content
  .rf-po-bfe-financingoption
  .rf-po-bfe-financingoption-subsection-list,
.rf-po-bfe-purchasegroupoption-full-width
  .rf-po-bfe-purchasegroupoption-subsection-list {
  border-top: 1px solid rgb(134, 134, 139);
  margin-top: 15px;
  padding-top: 15px;
  margin-inline: 0px;
}

.rf-po-bfe-financingoptions-tabs-content
  .rf-po-bfe-financingoption
  .rf-po-bfe-financingoption-subsection-listitem,
.rf-po-bfe-purchasegroupoption-full-width
  .rf-po-bfe-purchasegroupoption-subsection-listitem {
  margin-inline: 12px 0px;
}

.rf-po-bfe-financingoptions-tabs-content
  .rf-po-bfe-financingoption
  .rf-po-bfe-dimension-base-detail {
  margin: 7px 0 0;
}

.rf-bfe-selector-subtext.form-label-small {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.rf-bfe-selector-subtext.form-label-small img {
  padding-right: 6px;
}

.rf-bfe-header .badge + h1 {
  max-width: none;
}

.rf-flagship-buyflow-witb .rc-witb-image-wrapper {
  background-color: #f5f5f7;
}

.rf-dude-quote-info .rf-dude-quote-overlay-trigger {
  text-align: start;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
  .rf-bfe-applecare-options-fullwidth .rf-applecare-column-left {
    overflow: hidden;
  }
}

.as-carrierpromotion-ribboncontainer
  :first-child:nth-last-child(4).as-carrierpromotion-offerslinkcontainer {
  margin-inline-end: 32px;
}

.as-carrierpromotion-ribboncontainer
  :first-child:nth-last-child(4)
  ~ .as-carrierpromotion-ribbon-item {
  padding-inline-end: 32px;
}

.as-carrierpromotion-ribboncontainer
  :first-child:nth-last-child(4)
  ~ .as-carrierpromotion-ribbon-item:last-child {
  padding-inline-end: 0;
}

.as-carrierpromotion-ribboncontainer
  :first-child:nth-last-child(4)
  ~ *
  .as-carrierpromotion-ribbon-carrierprice {
  width: 164px;
}

@media (max-width: 1023px) and(max-device-width: 736px) {
  .as-carrierpromotion-ribboncontainer
    :first-child:nth-last-child(4)
    ~ .as-carrierpromotion-ribbon-item {
    padding: 0;
  }

  .as-carrierpromotion-ribboncontainer
    :first-child:nth-last-child(4)
    ~ *
    .as-carrierpromotion-ribbon-carrierprice {
    width: auto;
  }
}

/* adjust gap between carrier logos (small) */
@media (max-width: 1023px) and (max-device-width: 736px) {
  .as-carrierpromotion-ribbon-itemwrapper
    .as-carrierpromotion-ribbon-carrierlogo {
    padding-inline-end: 16px;
  }
}

.rf-bfe-tradeup-header:lang(ar) {
  overflow: hidden;
}
